:8080 {

    @5001 {
        path /5001/static/*

        path /connecttowifi /excap /go /splash/grant

        path /locationscanning/*

        path /bounds/*

        path /webhook
    }

    reverse_proxy @5001 127.0.0.1:5001

    @5002 {
        path /5002/static/*

        path /* /receive

    }

    reverse_proxy @5002 127.0.0.1:5002

    @5004 {
        path /5004/static/*

        path /click /login /success
    }

    reverse_proxy @5004 127.0.0.1:5004
    
    @5005 {
        path /
    }

    reverse_proxy @5005 127.0.0.1:5005
}